{% extends "base.html" %}
{% load static %}
{% block head_title %}LushakTech|About-us{% endblock %}
{% block content %}
<div id="about-us" class="container-fluid fh5co-about-us pl-0 pr-0 parallax-window" data-parallax="scroll" data-image-src="">
    <div class="container">
      <div class="col-12">
        <h2 class="wow bounceInLeft" data-wow-delay=".25s">ABOUT US</h2>
        <hr/>
        <p class="wow bounceInRight" data-wow-delay=".25s">Trainers, athletes and serious clients alike are looking for the toughest, most brutally productive training techniques to spice up their workouts and provide a truly unique challenge for their body and mind. Think: one-arm push-ups, pistols, pull-ups, handstands, hanging levers and the like! If you want toeither for </p>
        <a class="btn btn-lg btn-outline-danger d-inline-block text-center mx-auto wow bounceInDown">Learn More</a> </div>
    </div>
</div>
  
{% endblock content %}