{% extends 'base.html' %}

{% block content %}
<style>
  h7, h6 {
    color: white;
  }
</style>
<div class="container-fluid fh5co-network">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-3"><h5>Name of Student:</h5></div><div class="col-8">{{form.name}}</div> 
            </div>               
            <div class="row">
                <div class="col-3"><h5>Phone:</h5></div><div class="col-8">{{form.phone}}</div> 
            </div>
            <div class="row">
                <div class="col-3"><h5>Email:</h5></div><div class="col-8">{{form.email}}</div> 
            </div>
            <div class="row">
                <div class="col-3"><h5>Payment:</h5></div><div class="col-8">{{form.payment}}</div> 
            </div>
            <div class="row">
                <div class="col-3"><h5>Balance:</h5></div><div class="col-8">{{form.balance}}</div> 
            </div>
            <div class="row">
                <div class="col-3"><h5>Total:</h5></div><div class="col-8">{{form.total}}</div> 
            </div>
            <div class="row">
                <div class="col-3"><h5>Department:</h5></div><div class="col-8">{{form.dept}}</div> 
            </div>
            <div class="row">
              <div class="col-3"><h5>Picture:</h5></div><div class="col-8"><h6>{{form.profile_pic}}</h6></div> 
            </div>
            <div class="row">
              <div class="col-3"><h5>Courses Registered:</h5></div><div class="col-8">
                <div class="col-8" name="checkbox">
                  {{form.courses_registered}}
                </div> 
              </div> 
            </div>
            <div class="row">
              <div class="col-3"><h5>School:</h5></div><div class="col-8"><h6>{{form.school}}</h6></div> 
            </div>
            <div class="row">
              <div class="col-3"><h5>Level:</h5></div><div class="col-8"><h6>{{form.level}}</h6></div> 
            </div>
            <div class="row">
              <div class="col-3"><h5>Faculty:</h5></div><div class="col-8"><h6>{{form.faculty}}</h6></div> 
            </div>
            <div class="row">
              <div class="col-3"><input type="submit" name="Submit" value="Update"></div>
              <div class="col-3"><a href="{% url 'records:details' %}" class="btn btn-warning"> &#8592; Back to Records..</a></div>
            </div>
            
          </form>
        </div>
        <div class="container-fluid fh5co-network">
          <div class="container">
            <div class="row">
              <div class="col-12 mt--5 errors">
              {{form.errors}}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

