{% extends "base.html" %}
{% block head_title %}LushakTech | Order-Summary {% endblock %}
{% block content %}

  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2 style="color: aliceblue;">Order Summary</h2>
    <table class="table">
        <thead>
        <tr style="color: aliceblue;">
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>    
        <tbody>
        {% for order_item in object.items.all %}
        <tr style="color: aliceblue;">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'ecommerce:remove-single-item-from-cart' order_item.item.slug %}"><b style="font-size: small;"  class="badge badge-primary mr-2">-</b></a>
                {{ order_item.quantity }}
                <a href="{% url 'ecommerce:add-to-cart' order_item.item.slug %}"><b style="font-size: small;" class="badge badge-primary ml-2">+</b></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                ${{ order_item.get_total_discount_item_price }}
                <span style="font-size: small;" class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %}
            <a href="{% url 'ecommerce:remove-from-cart' order_item.item.slug %}">
                <i class="badge badge-danger float-right">Trash</i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td style="color: aliceblue;" colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href="{% url 'ecommerce:item-list' %}">Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td style='color:aliceblue;' colspan="4"><b>Order Total</b></td>
            <td style='color:aliceblue;'><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href="{% url 'ecommerce:checkout' %}">Proceed to checkout</a>
            <a class='btn btn-primary float-right' href="{% url 'ecommerce:item-list' %}">Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


