{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Tutorial Accounts{% endblock %}
{% block content %}
<style>
    .center-column {
        width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    }
    .item-row{
        background-color: #906abd;
        margin: 10px;
        padding: 20px;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
    }
</style>
<div class="center-column">
    <p>Are you sure you want to delete "{{ item }}"?</p>
    <div class="item-row">
        <div class="row">
            <a class="btn btn-sm btn-info" href="{% url 'todo:todolist' %}">Cancel</a>

            <form method="POST" action="">
                {% csrf_token %}
                <input class="btn btn-sm btn-danger" type="submit" value="Confirm"/>
            </form>
        </div>
       
    </div>
    
</div>


{% endblock content %}